.home {
  height: 3000px;
  background-color: rgb(195, 212, 195);
}

.flexImg {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.h2Tienda {
  text-align: center;
  color: rgb(91, 106, 94);
}
.botonLogOut {
  margin-top: 50px;
  margin-bottom: 50px;
}
